<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script> 
		<script src="/bower_components/bootstrap/js/button.js"></script>
		<script src="/bower_components/angular/angular.js"></script>
		<script src="/js/controllers.js"></script>
		<script src="/js/services.js"></script>
		<script src="/js/module.js"></script>
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="all"> 
		<script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body ng-app="bankingApp" ng-controller="mainController">
		<div class="container">



			<h1>Bankular</h1>

			<div class="row">
				<div class="col-sm-6">
					<form ng-submit='addTransaction()' >
						<div class="form-group">
							<label>Description</label>
							<input class="form-control" type="text" placeholder="Description" ng-model='newTransaction.description' required>
						</div>
						<div class="form-group">
							<label>Amount</label>
							<input class="form-control" type="number" placeholder="Amount" ng-model='newTransaction.amount' step=".01" required>
						</div>
						<div class="form-group">
							<label>Date</label>
							<input class="form-control" type="date" placeholder="Date" ng-model='newTransaction.date' required>
						</div>

						<div class="btn-group">
							<label class="btn btn-primary active" ng-model="newTransaction.type" uib-btn-radio="'charge'">Charge</label>
								<label class="btn btn-primary" ng-model="newTransaction.type" uib-btn-radio="'credit'">Credit</label>
							</div>
							<button class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>




				<table class="table">
					<thead>
						<th>Description</th>
						<th>Date</th>
						<th>Charges</th>
						<th>Credits</th>
					</thead>
					<tr ng-data="blah" ng-repeat='transaction in transactions track by $index'>
						<td>{{transaction.description}}</td>
						<td>{{transaction.date | date : mediumDate}}</td>
						<td><span ng-if="transaction.amount <= 0">{{transaction.amount * -1 | currency}}</span></td>
						<td><span ng-if="transaction.amount > 0">{{transaction.amount | currency}}</span></td>
						<td>
							<button class="delete-button btn btn-danger "ng-click="removeItem($index)">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
					<thead>
						<th> </th>
						<th> </th>
						<th>Total Charges</th>
						<th>Total Credits</th>
					</thead>
					<tr>
						<td></td>
						<td></td>
						<td>{{totalCharges * -1 | currency}}</td>
						<td>{{totalCredits | currency}}</td>
					</tr>
					<thead>
						<th> </th>
						<th> </th>
						<th>Total Balance:</th>
						<th>{{totalBalance | currency}}</th>
					</thead>
				</table>

			</div>
		</body>
	</html>
